[submodule "mock-haskell-project-01"]
	path = mock-haskell-project-01
	url = git@github.com:Ptival/mock-haskell-project-01.git
[submodule "mock-haskell-project-02"]
	path = mock-haskell-project-02
	url = git@github.com:Ptival/mock-haskell-project-02.git
[submodule "mock-haskell-project-03"]
	path = mock-haskell-project-03
	url = git@github.com:Ptival/mock-haskell-project-03.git
[submodule "mock-haskell-project-04"]
	path = mock-haskell-project-04
	url = git@github.com:Ptival/mock-haskell-project-04.git
[submodule "mock-haskell-project-05"]
	path = mock-haskell-project-05
	url = git@github.com:Ptival/mock-haskell-project-05.git
[submodule "mock-haskell-project-06"]
	path = mock-haskell-project-06
	url = git@github.com:Ptival/mock-haskell-project-06.git
